{% extends "blog/base.html" %}
{% block content %}
<div class="container centerstage">
  <h1 style="text-align: center;"><b>MY BLOG</b></h1>
    <hr class="solid">
  <br>
  <div class="boxed">
  <p style="font-size:30px;">My blog is an online journal or informational website displaying information in the reverse chronological order, with latest posts appearing first. <br>It is a platform where a writer or even a group of writers share their views on an individual subject.
  <br><br><h3><b>For collaboration : 00429802018@vips.edu </b></h3></p>
  </div>
</div>
{% endblock %}
